*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1100px;
    margin: 0 auto;
}

/*--------------------- navber start --------------- */
.main-menu{
    display: flex;
    line-height: 120px;
}
.menu-text{
    width: 40%
}
.menu-text h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#3A3A3A;
    font-size: 24px
}
.menu{
    width:50%;
    text-align: right;
}
.menu li{
    display: inline-block;
}
.menu li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#3A3A3A;
    font-size: 16px;
    padding-right: 30px;
    transition: 0.4s all linear;
    -webkit-transition: 0.4s all linear;
    -moz-transition: 0.4s all linear;
    -ms-transition: 0.4s all linear;
    -o-transition: 0.4s all linear;
}
.menu li a:hover{
    color: #E02C6D;

}
.menu-icon{
    width:10%;
}
.menu-icon i{
    color: #E02C6D;
    padding-right: 10px;
    font-size: 19px;
    transition: 0.4s all linear;
    -webkit-transition: 0.4s all linear;
    -moz-transition: 0.4s all linear;
    -ms-transition: 0.4s all linear;
    -o-transition: 0.4s all linear;
}
.menu-icon i:hover{
    color:#3A3A3A;
} 
/*============= Start your Journey as Influencer part start =========== */
.influencer-main{
    display: flex;
    padding-top: 20px;
}
/*---------- infulencer text ----------- */
.infulencer-text{
    width: 590px;
}
.infulencer-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#3A3A3A;
    font-size: 52px;
}
.infulencer-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 620;
    color:#3A3A3A;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 60px;
}
.link-button{
    background: linear-gradient( #E02C6D ,#d87398) ;
    padding: 20px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#ffffff;
    font-size: 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 4px 4px 9px rgba(180, 63, 106, 0.692);
}
.button:hover{
    padding-left: 20px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.fa-icon {
    font-size: 18px;
    padding-left: 12px;
  }
 /*---------- infulencer photo ----------- */
.infulencer-photo{
  width: 480px;
  border:2px solid #f3eeee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  z-index: 1;
  transition: transform 4s;
  -webkit-transition: transform 4s;
  -moz-transition: transform 4s;
  -ms-transition: transform 4s;
  -o-transition: transform 4s;
}
.infulencer-photo:hover{
    transform: scale( 1.2) rotate( 360deg);
    -webkit-transform: scale( 1.2) rotate( 360deg);
    -moz-transform: scale( 1.2) rotate( 360deg);
    -ms-transform: scale( 1.2) rotate( 360deg);
    -o-transform: scale( 1.2) rotate( 360deg);
}
.infulencer-photo::after{
    position: absolute;
    width: 70%;
    height: 70%;
    content: '';
    background: #e9dede;
    top: 63px;
    left: 73px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}


.infulencer-photo img{
    width:70%;
    padding: 44px 60px;
}
/*============= company part start =========== */
#company{
    margin-top: 100px;
    margin-bottom:100px;
}
.main-company{
    display: flex;
    border-top: 2px solid #c5c1c1;
    border-bottom: 2px solid #cac7c7;
    padding: 30px 0px 30px 0px;
}
.company-logo{
    text-align: center;
    width: 157px;
}
/*====================== Popular Collection start ============ */
#Popular{
    margin-bottom: 100px;
}
.collection-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#3A3A3A;
    font-size: 28px;
    text-align:center;
    padding-bottom: 30px;
}
.collection-item{
    width: 311px;
    background: #ffffff;
    border: 1px solid #cac7c7;
    padding: 17px 15px;
    box-shadow: 3px 0px 19px rgba(110, 108, 108, 0.349);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.collection-photo img{
    width: 100%;
}
/* --- collection-text ----- */
 .collection-text h3{
    font-weight: 600;
    text-align: left;
    padding-bottom: 6px;
} 
.collection-text h2{
    font-size: 24px;
    color:black;
    font-weight: 400;
}
.collection-text i{
    color:#f0f017;
    font-weight: 19px;
    padding-right: 3px;
}
.collection-text span{
    padding-left: 20px;
    color:#3A3A3A;
}
.collection-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
   color: #787885;
  line-height: 24px;
}
/* --- button ------- */
.main-botton{
    text-align: right;
    background: red;
    position: relative;
}
.button-align{
    position: absolute;
    top:0;
    right: 0;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 16px;
    width: 200px;
}
/*====================== footer part start ===============*/
#footers{
   margin-top: 100px;
   padding-top:30px;
   padding-bottom:30px;
   background: rgb(2, 2, 26);
}
.footer-text-icon h2{
    color:#ffffff;
    font-size: 35px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.footer-text-icon h3{
    font-size:17px;
    color:#ffffff;
    /* padding-bottom: 30px; */
}
.footer-text-icon i{
    padding: 15px 15px;
    color:#ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #cac7c73a;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
    background: #cac7c73a;
}
